*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: #3bb9e3;
}

ul{
  list-style: none;
}

input, button{
  outline: none;
}

body{
  background-color: #e6ecf0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

.content{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

header#main-header{
  height: 46px;
  background-color: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}
header#main-header .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

header#main-header nav ul{
  display: flex;
}

header#main-header nav ul li{
  display: flex;
  align-items: center;
  margin-left: 30px;
}
header#main-header nav ul li a{
  font-size: 13px;
  color: #667580;
  font-weight: bold;
}

header#main-header nav ul li:first-child{
  margin-left: 0;
}

header#main-header nav ul li img{
  margin-right: 7px;
}

header#main-header div.side{
  display: flex;
}

header#main-header div.side img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 15px;
  border: 3px solid #e6ecf0;
}

header#main-header div.side button{
  background-color: #3bb9e3;
  width: 94px;
  height: 34px;
  border-radius: 16px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

header#main-header div.side button:hover{
  background-color: #55acee;
}

header#main-header div.side input{
  width: 220px;
  background: url('./images/search.svg') no-repeat 190px center;
  background-color: #f5f8fa;
  border: 1px solid #e6ecf0;
  height: 34px;
  border-radius: 16px;
  padding: 0 30px 0 15px;
  font-size: 12px;
}

div.banner{
  height: 380px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  flex-wrap: wrap;
  text-align: center;
  background-color: #3bb9e3;
}

div.bar{
  background-color: #ffffff;
  height: 59px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

div.bar .content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 285px;
  height: 100%;
}

div.bar .content ul{
  display: flex;
  height: 100%;
}

div.bar .content ul li{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
  position: relative;
  justify-content: center;
}

div.bar .content ul li span{
  color: #667580;
  font-size: 12px;
  font-weight: bold;
}

div.bar .content ul li strong{
  color: #667580;
  font-size: 18px;
  font-weight: bold;
  margin-top: 2px;
}

div.bar .content ul li.active strong{
  color: #3bb9e3;
}

div.bar .content ul li.active:after{
  content: '';
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #3bb9e3;
  left: 0;
  bottom: 0;
}

div.bar .content div.actions{
  display: flex;
}

div.bar .content div.actions button{
  background-color: #fff;
  width: 94px;
  height: 34px;
  border-radius: 16px;
  color: #3bb9e3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #3bb9e3;
  cursor: pointer;
  margin-right: 15px;
}

div.wrapper-content{
  display: flex;
}

div.wrapper-content aside.profile{
  width: 260px;
}

div.wrapper-content aside.profile img.avatar{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #ffffff;
  margin-top: -140px;
}

div.wrapper-content aside.profile h1{
  font-size: 21px;
  color: #1f2226;
  margin-top: 10px;
}

div.wrapper-content aside.profile span{
  font-size: 14px;
  color: #1f2226;
}

div.wrapper-content aside.profile p{
  font-size: 14px;
  color: #1f2226;
  margin-top: 15px;
}

div.wrapper-content aside.profile ul.list{
  margin-top: 20px;
}

div.wrapper-content aside.profile ul.list li{
  font-size: 14px;
  color: #657786;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

div.wrapper-content aside.profile ul.list li:last-child{
  margin-bottom: 0px;
}

div.wrapper-content aside.profile ul.list li img{
  margin-right: 5px;
}

div.wrapper-content aside.profile div.widget{
  margin-top: 20px;
}

div.wrapper-content aside.profile div.widget strong{
  font-weight: normal;
  color: #3bb9e3;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

div.wrapper-content aside.profile div.widget img{
  margin-right: 5px;
}

div.wrapper-content aside.profile div.followers ul{
  display: flex;
  flex-wrap: wrap;
}

div.wrapper-content aside.profile div.followers ul li{
  width: 45px;
  height: 45px;
  background-color: #d0d5d9;
  border-radius: 50%;
  margin:0 5px 5px 0;
  flex: 1 0 auto;
}

div.wrapper-content aside.profile div.photos ul{
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-content: flex-start;
  align-items: flex-start;
}

div.wrapper-content aside.profile div.photos ul li{
  width: 80px;
  height: 80px;
  background-color: #d0d5d9;
  margin:0 5px 5px 0;
  border-radius: 5px;
  flex: 1 0 auto;
}

div.wrapper-content section.timeline{
  flex:1;
  background-color: #ffffff;
  margin: 10px 20px 0;
}

div.wrapper-content section.timeline nav{
  border-bottom: 1px solid #e6ecf0;
  padding:10px 15px;
}

div.wrapper-content section.timeline nav a{
  font-size: 18px;
  font-weight: bold;
  margin-left: 20px;
}

div.wrapper-content section.timeline ul.tweets li{
  border-bottom: 1px solid #e6ecf0;
  display: flex;
  padding:10px 15px;
}

div.wrapper-content section.timeline ul.tweets li > img{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 3px solid #e6ecf0;
}

div.wrapper-content section.timeline ul.tweets li div.info{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

div.wrapper-content section.timeline ul.tweets li div.info strong{
  font-size: 13px;
  color: #1f2326;
}

div.wrapper-content section.timeline ul.tweets li div.info strong span{
  font-size: 13px;
  color: #7b8b9a;
  font-weight: normal;
}

div.wrapper-content section.timeline ul.tweets li div.info p{
  font-size: 14px;
  color: #1f2326;
  margin-top: 5px;
}
div.wrapper-content section.timeline ul.tweets li div.info div.actions{
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}

div.wrapper-content section.timeline ul.tweets li div.info div.actions a{
  display: flex;
  align-items: center;
  color: #667580;
  font-weight: bold;
  font-size: 12px;
  margin-left: 30px;
}
div.wrapper-content section.timeline ul.tweets li div.info div.actions a:first-child{
  margin-left: 0px;
}
div.wrapper-content section.timeline ul.tweets li div.info div.actions a img{
  margin-right: 5px;
}
  
div.wrapper-content section.timeline nav a:first-child{
  margin-left: 0;
}
div.wrapper-content section.timeline nav a.active{
  color: #222222;
}

div.wrapper-content aside.widgets{
  width: 290px;
  margin-top: 10px;
}

div.wrapper-content aside.widgets .widget{
  padding: 15px;
  background-color: #ffffff;
  margin-bottom: 15px;
}

div.wrapper-content aside.widgets .widget .title{
  display: flex;
  align-items: baseline;
}

div.wrapper-content aside.widgets .widget .title strong{
  font-size: 18px;
  color: #1f2226;
}

div.wrapper-content aside.widgets .widget .title a{
  font-size: 12px;
  position: relative;
  padding-left: 10px;
}
div.wrapper-content aside.widgets .widget .title a::before{
  content: '';
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #222;
  position: absolute;
  margin-left: 5px;
  margin-right: 5px;
  left: 2px;
  top: 50%;
  margin-top: -1px;
}

div.wrapper-content aside.widgets .follow ul{
  margin-top: 10px;
}

div.wrapper-content aside.widgets .follow ul li{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccd6dd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

div.wrapper-content aside.widgets .follow ul li .profile {
  display: flex;
  align-items: center;
}

div.wrapper-content aside.widgets .follow ul li .profile img{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border:3px solid #e6ecf0;
}

div.wrapper-content aside.widgets .follow ul li .profile .info{
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

div.wrapper-content aside.widgets .follow ul li .profile .info strong{
  font-size: 14px;
  color: #1f2226;
}

div.wrapper-content aside.widgets .follow ul li .profile .info strong span{
  font-weight: normal;
  color: #9a9a9a;
  
}

div.wrapper-content aside.widgets .follow ul li .profile .info button{
  background-color: #fff;
  width: 94px;
  height: 25px;
  border-radius: 16px;
  color: #3bb9e3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #3bb9e3;
  cursor: pointer;
  margin-top: 4px;
}
div.wrapper-content aside.widgets .follow ul li > a{
  color: #ccd6dd;
  font-size: 14px;
  
}
div.wrapper-content aside.widgets .follow > a{
  display: flex;
  align-items: center;
}
div.wrapper-content aside.widgets .follow > a img{
  margin-right: 5px;
  fill:#3bb9e3 !important
}
div.wrapper-content aside.widgets .trends ul{
  margin-top: 15px;
}
div.wrapper-content aside.widgets .trends ul li{
  margin-bottom: 5px;
  font-weight: bold;
}
div.wrapper-content aside.widgets .links{
  background-color: transparent;
  margin-top: 0;
  padding-top: 0;
}
div.wrapper-content aside.widgets .links a{
  font-size: 14px;
  color: #9a9a9a;
  margin-right: 5px;
}
div.wrapper-content aside.widgets .links span{
  margin-top: 5px;
  font-size: 14px;
  color: #9a9a9a;
}