*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

input, button{
  outline: none;
}

body{
  background-color: #e6ecf0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

.content{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

header#main-header{
  height: 46px;
  background-color: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}
header#main-header .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

header#main-header nav ul{
  display: flex;
}

header#main-header nav ul li{
  display: flex;
  align-items: center;
  margin-left: 30px;
}
header#main-header nav ul li a{
  font-size: 13px;
  color: #667580;
  font-weight: bold;
}

header#main-header nav ul li:first-child{
  margin-left: 0;
}

header#main-header nav ul li img{
  margin-right: 7px;
}

header#main-header div.side{
  display: flex;
}

header#main-header div.side img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 15px;
}

header#main-header div.side button{
  background-color: #3bb9e3;
  width: 94px;
  height: 34px;
  border-radius: 16px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

header#main-header div.side button:hover{
  background-color: #55acee;
}

header#main-header div.side input{
  width: 220px;
  background: url('./images/search.svg') no-repeat 190px center;
  background-color: #f5f8fa;
  border: 1px solid #e6ecf0;
  height: 34px;
  border-radius: 16px;
  padding: 0 30px 0 15px;
  font-size: 12px;
}

.banner{
  height: 380px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  flex-wrap: wrap;
  text-align: center;
  background-color: #3bb9e3;
}